extends base.pug

block scripts
   script(src="/public/index.js")

block style
    style 
      include ../public/style.css       

block content
  

   section#introSection 
        div welcome to our Dance academy          
        div.small   Eat sleep Dance repeat
   section#missionSection
      h2 WELCOME 😶
      div.card
          h3 Dance Perfection
          div.card-box
              div.card-img
                  img(src="/public/img/div1.png")
              div.card-content
                  h4 Welcome My World 🗺️

      div.card
          h3 Dance the way you like
          div.card-box
              div.card-img
                  img(src="/public/img/div2.png")
              div.card-content
                  h4 This website Using Node.js pug

      div.card
          h3 Expert Teaching
          div.card-box
              div.card-img
                  img(src="/public/img/div3.png")
              div.card-content
                  h4 Follow me 🤍
   section#sponsersSection 
        h2  👍 Follow Me In Social Media 👍 
        div#sponsors
          a(href="http://github.com/soyal2003") 
            img(src="/public/img/spn1.png",alt="sponsor image",class="spImage")
          a(href="http://twitter.com") 
            img(src="/public/img/spn2.png",alt="sponsor image",class="spImage")
          a(href="http://instagram.com/")
            img(src="/public/img/spn3.png",alt="sponsor image",class="spImage")
          a(href="http://web.whatsapp.com/")
            img(src="/public/img/spn4.png",alt="sponsor image",class="spImage")